@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../templates/**/*.html";
@source "../content/**/*.md";

@utility pixelated {
  image-rendering: pixelated;
}

link[rel="icon"] {
  image-rendering: pixelated;
}

main img {
  cursor: zoom-in;
}

main a img {
  cursor: pointer;
}