{% import "meta_macro.html" as meta_macro %}
{% import "nav.html" as chrome %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ config.title | default(value="WJ Creations Sandbox") }}{% endblock title %}</title>
  {{ meta_macro::meta_macro() }}
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-slate-900 text-slate-100 min-h-screen font-sans flex flex-col">

  {{ chrome::nav() }}

  <!-- Main Content Area -->
  <main class="flex-grow max-w-4xl mx-auto p-8 w-full">
    {% block content %}
    <!-- Child templates will dump their HTML here -->
    {% endblock content %}
  </main>

  {{ chrome::footer() }}

</body>

</html>
